.user_hero{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #D1D1D1;
    height: 375px;
    flex-direction: column;
    justify-content: space-between;
}


.user_hero_footer{
    width: 90%;
    margin: 0 auto;
}

.person__avatar{
    position: relative;
    width: 115px;
    height: 115px;
}

.edit_btn{
    width: 30px;
    height: 30px;
    background-color: teal;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.placehlder__avatar{
    width: 115px;
    height: 115px;
    background-color: #eaeaea;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.placehlder__avatar::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.9),
        transparent
      );
    left: 10%;
    animation:loading .6s infinite;
    border-radius: inherit;
}
.person__avatar img{
    width: 100%;
    height: 100%;
}

@keyframes loading {

    0%{
        left: -10%;
    }

    100%{
        left: 200%;
    }
    
}