.work-card{
    width: auto;
    cursor: pointer;
    
}

.work-card-thumb{
    width: 100%;
    height: 205px;
    /* border: 1px solid #dbdbdb; */
}
.work-card-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}